################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/WpfApp1
/bin
/obj
/packages
/bin/Debug/ClassLibrary1.dll
/bin/Debug/ClassLibrary1.pdb
/bin/Debug/StandardCalc.dll
/bin/Debug/StandardCalc.pdb
